In [1]:
import warnings

In [2]:
%matplotlib inline

import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

from scipy.stats import pearsonr
import talib

In [32]:
MONTH = 21
YEAR = 12 * MONTH

In [31]:
START = '2013-01-01'
END = '2017-12-31'

sns.set_style('whitegrid')
idx = pd.IndexSlice

In [36]:
df = (pd.read_csv(r'C:\Users\Wendel\OneDrive\Machine-Learning-for-Algorithmic-Trading-Second-Edition\data\wiki_prices\teste.csv',
                 parse_dates=['date'],
                 index_col=['date', 'ticker'],
                 infer_datetime_format=True)
                 .sort_index())[{'adj_open','adj_high', 'adj_low', 'adj_close', 'adj_volume'}]

In [37]:
prices = df.copy()

In [34]:
min_obs = 2 * YEAR
nobs = df.groupby(level='ticker').size()
keep = nobs[nobs > min_obs].index
df.loc[idx[keep,:], :]

In [38]:
df

                     adj_low   adj_open   adj_high  adj_close    adj_volume
date       ticker
1962-01-02 ARNC     3.448668   3.458163   3.468185   3.448668  4.480000e+04
           BA       0.871816   0.887160   0.887160   0.871816  3.521981e+05
           CAT      1.562791   1.578370   1.593539   1.578370  1.632000e+05
           DD       4.718414   4.718414   4.772144   4.718414  3.600000e+04
           DIS      0.141259   0.141259   0.145999   0.141259  4.088582e+05
...                      ...        ...        ...        ...           ...
2018-03-27 ZIXI     4.350000   4.430000   4.450000   4.390000  2.073040e+05
           ZNGA     3.680000   3.850000   3.850000   3.700000  1.102601e+07
           ZOES    14.750000  15.130000  15.240000  14.880000  2.612420e+05
           ZTS     81.210000  84.080000  84.450000  81.860000  2.676191e+06
           ZUMZ    23.350000  24.650000  24.650000  23.600000  4.038840e+05

[15389314 rows x 5 columns]